/* ---------------- Section Component Style ---------------- */
.section {
  padding: 15px 0;
}
.section:only-of-type {
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}
.section:first-of-type:not(:only-of-type) {
  border-top: 1px solid #363636;
  border-bottom: none;
}
.section:last-of-type:not(:only-of-type):not(:first-of-type) {
  border-top: none;
  border-bottom: 1px solid #363636;
}
.section:not(:first-of-type):not(:last-of-type) {
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}
.section:first-of-type:not(:only-of-type) + .section:last-of-type {
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}
/* --------------------------------------------------------- */

/* ---------------- AuthButtons Component ------------------ */
.authButtonsSection {
  display: flex;
  gap: 5px;
}
.fetchingProviderDiv {
  text-align: center;
  font-weight: 600;
}
.authButtonsSection button {
  width: 100%;
}
.authSuccessDiv {
  text-align: center;
  color: green;
  font-weight: 600;
}
.authErrorDiv {
  text-align: center;
  color: red;
  margin: 10px 0px;
}
/* --------------------------------------------------------- */

/* ------------------ Button Component --------------------- */
.buttonContainer {
  width: 100%;
}
.buttonContainer button {
  padding: 5px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
}
.disabled button {
  background-color: #636363;
}
/* --------------------------------------------------------- */

/* ------------------ Search Input Area -------------------- */
.searchInputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.searchInput {
  padding: 5px;
}
.searchInputContainer .errorlable {
  word-wrap: break-word;
  color: red;
}
/* --------------------------------------------------------- */

/* ------------------- Commits Area ------------------------ */
.commits-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commit-item,
.commitItem {
  border: 1px solid #363636;
  border-radius: 5px;
  padding: 5px;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  font-size: x-small;
}
.commitItem {
  padding: 5px 3px;
}

.commit-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.commit-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.commit-info input {
  margin: 0px;
}

.commit-date {
  color: #666;
  font-weight: normal;
}
.commit-sha {
  font-size: 0.85rem;
  color: #999;
  overflow-wrap: break-word;
}

.commitList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: small;
}

.commitInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.commitInfo span {
  color: gray;
}
/* --------------------------------------------------------- */

/* -------------------- Pull Request Info ------------------ */
.pullrequestInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pullrequestInfo .header {
  margin: 0px;
}
.pullrequestInfo span {
  color: gray;
}
/* --------------------------------------------------------- */

/* --------------------- Branch Info ----------------------- */
.branchInfo span {
  color: gray;
}
/* --------------------------------------------------------- */

/* ------------------- Cherry Pick Info -------------------- */
.cherryPickSuccess {
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 16px;
}
.cherryPickSuccess span {
  color: gray;
}
.cherryPickSuccess a {
  color: #4e4eff;
  margin-top: 5px;
}

.cherryPickError {
  word-wrap: break-word;
  color: red;
}
/* --------------------------------------------------------- */

/* -------------------- Global Tweaks ---------------------- */
input:focus,
a:focus {
  outline: none;
}
/* --------------------------------------------------------- */
